.home .cover {
  height: 50vh;
  background-color: #f6f6f6;
  position: relative;
}

.home .cover .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000005c;
}

.home .cover .overlay .title {
  margin-top: 100px;
  color: #fff;
}

.home .cover .overlay .title p {
  font-size: 19px;
}

.home .cover .overlay .title h1 {
  font-size: 35px;
  margin-bottom: -10px;
}

.home .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  margin-top: -40px;
  position: relative;
  margin-bottom: 60px;
 
}

.loadingContainer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  color:#ff0000;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.369);
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 24px;
  width: 5.15px;
  background: currentColor;
}

.loader::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background:  #e81515dd;
    
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: translateY(8px) scaleY(1) scaleX(1.25);
  }

  25%,
  75% {
    transform: translateY(-5px) scaleY(1.2) scaleX(1);
  }

  50% {
    transform: translateY(-10px) scaleY(1) scaleX(1.5) ;
  }

  100% {
    transform: translateY(8px) scaleY(2) scaleX(2);
  }
}

 